<header class="header">
    <div class="hero text-white pt-7">
        <div class="container-xl">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container p-4 d-flex flex-column justify-content-center h-100 mb-5">
                        <h1 class="display-3 fw-bold">Contact Information</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Contat Form -->
<section class="contact bg-light pb-4 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="">
                    <div class="mb-3">
                        <input type="text" name="name" id="name" placeholder="Name"
                            class="form-control form-control-lg">
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" id="email" placeholder="Email"
                            class="form-control form-control-lg">
                    </div>
                    <div class="mb-3">
                        <textarea name="message" id="Message" placeholder="Message" rows="6"
                            class="form-control form-control-lg"></textarea>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary text-white mt-3">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--Maps-->
<section class="location my-5">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <h1>Location</h1>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit praesentium esse ea
                    assumenda totam asperiores quas officia vitae magni numquam, cupiditate quis facere omnis minima
                    inventore odit voluptatum id quo.</p>
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3887.2722803304064!2d77.70975707962927!3d13.018325181131747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTPCsDAxJzA2LjAiTiA3N8KwNDInNTIuNyJF!5e0!3m2!1sen!2sus!4v1726559420797!5m2!1sen!2sus"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>