<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container">
        <a href="#" class="navbar-brand fw-bold"><img src="assets/favicon/favicon.ico" width="30" height="30" class="d-inline-block align-top">&nbsp;TRAVEL AS U LIKE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropDown">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropDown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link fw-semibold">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/details" class="nav-link fw-semibold">Details</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" class="nav-link fw-semibold">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<!--Social-->
<section class="social text-bg-dark py-6 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center fs-4">
                <p>
                    Stay Connected and join our Vibrant community. For any inquires or assistance ,feel free to reach
                    out to us
                </p>
                <div class="social-icons d-flex justify-content-center gap-4">
                    <i class="fab fa-facebook fa-2x"></i>
                    <i class="fab fa-twitter fa-2x"></i>
                    <i class="fab fa-instagram fa-2x"></i>
                    <i class="fab fa-linkedin fa-2x"></i>
                    <i class="fab fa-pinterest fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Footer -->
<footer class="border-top border-primary bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="nav">
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link link-light">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/details" class="nav-link link-light">Details</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link link-light">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="text-end d-none d-md-block">Copyright &copy; Travel As You Like 2024</p>
            </div>
        </div>
    </div>
</footer>