<header class="header">
    <div class="hero text-white pt-7">
        <div class="container-xl">
            <div class="row hstack g-4">
                <div class="col-md-6">
                    <div class="image-container mb-5 px-4">
                        <img src="assets\images\04.jpg" alt="asdasdasd" class="img-fluid rounded-2" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="text-container p-4 d-flex flex-column justify-content-center h-100 mb-5">
                        <h1 class="display-3 fw-bold">Welcome to Blog Maestry</h1>
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus incidunt voluptatibus
                            soluta
                            consequuntur dignissimos adipisci eveniet fugiat quam, doloribus tempora accusantium
                            officiis,
                            quia inventore officia enim repellat. Nemo, soluta assumenda.
                        </p>

                        <div class="form-container text-center">
                            <form action="">
                                <div class="my-4">
                                    <input type="text" class="form-control form-control-lg rounded-5"
                                        placeholder="Email Address" />
                                </div>
                                <div class="d-grid"><button type="button" class="btn btn-primary btn-lg text-white">Free
                                        Download</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!--Icons -->
<section class="icons bg-light pb-5 pt-5">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-4 d-flex gap-4">
                <i class="fas fa-user fa-3x text-primary"></i>
                <div>
                    <h5 class="fw-bold">Unlock Your Travel Experience</h5>
                    <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates ipsa quo
                        incidunt alias praesentium perferendis aliquid quidem error vero! Odio natus dolorem provident
                        veniam rem! Quos obcaecati error vitae voluptatibus.</p>
                </div>
            </div>

            <div class="col-md-4 d-flex gap-4">
                <i class="fas fa-rocket fa-3x text-secondary"></i>
                <div>
                    <h5 class="fw-bold">Boost your Travel Experience</h5>
                    <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates ipsa quo
                        incidunt alias praesentium perferendis aliquid quidem error vero! Odio natus dolorem provident
                        veniam rem! Quos obcaecati error vitae voluptatibus.</p>
                </div>
            </div>

            <div class="col-md-4 d-flex gap-4">
                <i class="fas fa-dollar fa-3x text-primary"></i>
                <div>
                    <h5 class="fw-bold">Budget friendly Travel Blog</h5>
                    <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates ipsa quo
                        incidunt alias praesentium perferendis aliquid quidem error vero! Odio natus dolorem provident
                        veniam rem! Quos obcaecati error vitae voluptatibus.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="details" class="details my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container d-flex flex-column justify-content-center h-100">
                    <h2 class="display-6">Unlock Yours Travel Journey</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto expedita id ad magni
                        provident quas velit accusamus ipsam cum. Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Iusto rerum, cupiditate quia sint deserunt soluta molestias dignissimos totam maiores?
                        Praesentium quos quis quidem aliquam natus illum voluptatem provident unde dolores.</p>

                    <ul class="list-group list-group-flush lh-lg">
                        <li class="list-group-item">
                            <i class="fas fa-square text-primary p-2"></i>
                            <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit:</strong> Atque nemo
                            dignissimos
                            accusantium neque nam? Fugiat maiores deleniti quasi. Architecto, excepturi!
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-square text-primary p-2"></i>
                            <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit:</strong> Atque nemo
                            dignissimos
                            accusantium neque nam? Fugiat maiores deleniti quasi. Architecto, excepturi!
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-square text-primary p-2"></i>
                            <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit:</strong> Atque nemo
                            dignissimos
                            accusantium neque nam? Fugiat maiores deleniti quasi. Architecto, excepturi!
                        </li>
                    </ul>

                    <a href="" class="btn btn-primary text-white mt-4 align-self-start" data-bs-toggle="modal"
                        data-bs-target="#modal1">Get Yours Itenary Now</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="image-container p-5">
                    <img src="assets\images\04.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!--Modal Design -->
<div id="modal1" class="modal fade">
    <div class="modal-dialog modal-lg mt-7">
        <div class="modal-content p-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img src="assets\images\05.jpg" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="text-container">
                        <h2 class="display-6">Unlock Yours Travel Journey</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto expedita id ad magni
                            provident quas velit accusamus ipsam cum. Lorem ipsum dolor, sit amet consectetur
                            adipisicing.</p>
                        <ul class="list-group list-group-flush lh-lg">
                            <li class="list-group-item">
                                <i class="fas fa-square text-primary p-2"></i>
                                <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit:</strong> Atque nemo
                                dignissimos
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-square text-primary p-2"></i>
                                <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit:</strong> Atque nemo
                                dignissimos
                                accusantium neque nam? Fugiat maiores deleniti quasi. Architecto, excepturi!
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-square text-primary p-2"></i>
                                <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit:</strong> Atque nemo
                                dignissimos
                                accusantium neque nam? Fugiat maiores deleniti quasi. Architecto, excepturi!
                            </li>
                        </ul>
                        <a href="" class="btn btn-primary text-white m-2">Free Download</a>
                        <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Statements-->
<section class="statement mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-container bg-light p-5 rounded-5">
                    <h2>Master the fun of Travel Experience</h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro amet optio velit obcaecati nobis
                        saepe mollitia suscipit enim iusto! Laboriosam esse dolor, suscipit sequi nihil dolorum eligendi
                        amet illo in nam natus ratione fuga neque corrupti. Eum iste recusandae amet alias nihil placeat
                        tenetur fugit, a excepturi minima tempora itaque. Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Eligendi accusamus, vitae possimus voluptate porro reiciendis quos quam sit
                        asperiores natus Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
                        exercitationem perspiciatis ab, aliquam corrupti quia quidem placeat hic voluptas beatae sint
                        esse porro eos voluptatibus? Asperiores minus deleniti ad quisquam accusantium! Molestiae quas
                        blanditiis, pariatur debitis tempore eius qui accusamus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Details 2-->
<section class="details my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container p-5">
                    <img src="assets\images\08.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="text-container d-flex flex-column justify-content-center h-100">
                    <h2 class="display-6">Craft Your Itenary with me</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto expedita id ad magni
                        provident quas velit accusamus ipsam cum. Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Iusto rerum, cupiditate quia sint deserunt soluta molestias dignissimos totam maiores?
                        Praesentium quos quis quidem aliquam natus illum voluptatem provident unde dolores.</p>

                    <ul class="list-group list-group-flush lh-lg">
                        <li class="list-group-item">
                            <i class="fas fa-square text-primary p-2"></i>
                            <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit:</strong> Atque nemo
                            dignissimos
                            accusantium neque nam? Fugiat maiores deleniti quasi. Architecto, excepturi!
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-square text-primary p-2"></i>
                            <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit:</strong> Atque nemo
                            dignissimos
                            accusantium neque nam? Fugiat maiores deleniti quasi. Architecto, excepturi!
                        </li>
                    </ul>

                    <a href="" class="btn btn-primary text-white mt-4 align-self-start" data-bs-toggle="modal"
                        data-bs-target="#modal2">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Modal 2-->
<div id="modal2" class="modal fade">
    <div class="modal-dialog modal-lg mt-7">
        <div class="modal-content p-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img src="assets\images\08.jpg" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="text-container">
                        <h2 class="display-6">Craft Your Itenary with me</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto expedita id ad magni
                            provident quas velit accusamus ipsam cum. Lorem ipsum dolor, sit amet consectetur
                            adipisicing
                            elit. Iusto rerum, cupiditate quia sint deserunt soluta molestias dignissimos totam maiores?
                            Praesentium quos quis quidem aliquam natus illum voluptatem provident unde dolores.</p>

                        <ul class="list-group list-group-flush lh-lg">
                            <li class="list-group-item">
                                <i class="fas fa-square text-primary p-2"></i>
                                <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit:</strong> Atque nemo
                                dignissimos
                                accusantium neque nam? Fugiat maiores deleniti quasi. Architecto, excepturi!
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-square text-primary p-2"></i>
                                <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit:</strong> Atque nemo
                                dignissimos
                                accusantium neque nam? Fugiat maiores deleniti quasi. Architecto, excepturi!
                            </li>
                        </ul>

                        <a href="" class="btn btn-primary text-white m-2">Free Download</a>
                        <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials-->
<section class="testimonials mb-8">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="" class="rounded-circle mb-3">
                <p class="lead fst-italic">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ea reprehenderit numquam dolorem
                    corrupti culpa dolore libero atque officia vel.
                </p>
                <p class="fw-bold">Pruthvi Sagar - Bengaluru IND</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="https://randomuser.me/api/portraits/men/12.jpg" alt="" class="rounded-circle mb-3">
                <p class="lead fst-italic">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ea reprehenderit numquam dolorem
                    corrupti culpa dolore libero atque officia vel.
                </p>
                <p class="fw-bold">Jayanth - Bengaluru IND</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="https://randomuser.me/api/portraits/women/32.jpg" alt="" class="rounded-circle mb-3">
                <p class="lead fst-italic">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ea reprehenderit numquam dolorem
                    corrupti culpa dolore libero atque officia vel.
                </p>
                <p class="fw-bold">Bhavani S - Bengaluru IND</p>
            </div>
        </div>
    </div>
</section>

<section class="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="image-container mt-n6 mb-5 h-50">
                    <img src="assets\images\03.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="text-container text-white d-flex flex-column justify-content-center h-100 mb-5">
                    <h2 class="fw-bold">Get Yours Itenary Now</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio temporibus itaque harum sint
                        esse enim, sapiente unde, et in labore placeat libero minus error, sed ipsam soluta perspiciatis
                        expedita iusto facilis omnis cumque aliquam. Voluptatum quibusdam necessitatibus eos earum ad
                        eaque,
                        ipsam cum doloremque, odio, explicabo dicta labore maiores quisquam.</p>
                    <form action="">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Email Address">
                            <button class="btn btn-primary text-white rounded-end">Download</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

